body {
  background-color: rgb(238, 238, 238);
}

header {
  background-color: rgb(76, 38, 118);
}

nav {
  color: white;
  font-size: 2rem;
  padding: 20px 0;
}

.nav-entries {
  padding-left: 20px;
  font-size: 1.1rem;
}

.h1-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

h1 {
  padding: 0 2.25rem;
}

.new-button {
  background-color: rgb(76, 38, 118);
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  width: 70px;
  height: 35px;
}

li {
  display: inline-block;
}

.nav-ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.entries-list {
  margin-bottom: 10px;
}

label,
input,
textarea {
  display: block;
  margin: 10px 0;
}

label {
  font-size: 1.2rem;
}

label:first-child {
  margin-top: 0;
}

input,
textarea {
  width: 100%;
  border: 1px solid rgb(167, 165, 165);
  border-radius: 5px;
}

input {
  height: 40px;
  margin-bottom: 30px;
}

button {
  background-color: rgb(76, 36, 116);
  color: white;
  margin: 10px 0;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 2px 2px black, -2px -2px white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.div-pencil {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
